/* .login-dark {
    height:1000px;
    background:transparent ;
    background-size:cover;
    position:relative;
  }
  
  .login-dark form {
    max-width:320px;
    width:90%;
    background-color:white;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:40%;
    left:50%;
    color:black;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-dark form.hover .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .login-dark form.hover .forgot {
    display:block;
    text-align:center;
    font-size:14px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  .name{
      margin-bottom: 3vh;
      font-size: 20px;
  }
  .forgot1{
    padding-left: 5px;
    text-decoration: underline !important;
    color: rgb(0, 60, 255) !important;
  }
  *
  {
      margin: 2px;
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      margin-bottom: 8px;
     
  }
  .accordion-item{
      background: none !important;
      border: none !important;
  }
  .full-page
  {
     
    height: 100vh;
    width: 84rem;
      background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(bus.jpg);
      background-position: center;
      background-size: cover;
      position: absolute;
  }
  .navbar
  {
      display: flex;
      align-items: center;
      padding: 70px;
      padding-left: 50px;
      padding-right: 30px;
      padding-top: 46px;
  }
  .loginbtn{
      background-color: white;
      color: black;
      text-decoration: none;
      border: 2px solid beige;
      font-weight: bold;
      padding: 8px 15px;
      border-radius: 30px;
      
      
  }
  .loginbtn:hover{
      color:white ;
      background:black;
      border: 2px solid black
  }
  nav
  {
      flex: 1;
      text-align: right;
  }
  nav ul 
  {
      display: inline-block;
      list-style: none;
  }
  nav ul li
  {
      display: inline-block;
      margin-right: 70px;
  }
  nav ul li a
  {
      text-decoration: none;
      font-size: 20px;
      color: white;
      font-family: sans-serif;
  }
  nav ul li button
  {
      font-size: 20px;
      color: white;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      font-family: sans-serif;
  }
  nav ul li button:hover
  {
      color: black;
  }
  nav ul li a:hover
  {
      color:black;
  }
  a
  {
      text-decoration: none;
      color: white;
      font-size: 28px;
  }
  
  #login-form
  {
      display: none;
  }
  .form-box
  {
      width:380px;
      height:480px;
      position:relative;
      margin:2% auto;
      background:rgba(0,0,0,0.3);
      padding:10px;
      overflow: hidden;
  }
  .button-box
  {
      width:220px;
      margin:35px auto;
      position:relative;
      box-shadow: 0 0 20px 9px #ff61241f;
      border-radius: 30px;
  }
  .toggle-btn
  {
      padding:10px 30px;
      cursor:pointer;
      background:transparent;
      border:0;
      outline: none;
      position: relative;
  }
  #btn
  {
      top: 0;
      left:0;
      position: absolute;
      width: 110px;
      height: 100%;
      background: #F3C693;
      border-radius: 30px;
      transition: .5s;
  }
  .input-group-login
  {
      top: 150px;
      position:absolute;
      width:280px;
      transition:.5s;
  }
  .input-group-register
  {
      top: 120px;
      position:absolute;
      width:280px;
      transition:.5s;
  }
  .input-field
  {
      width: 100%;
      padding:10px 0;
      margin:5px 0;
      border-left:0;
      border-top:0;
      border-right:0;
      border-bottom: 1px solid #999;
      outline:none;
      background: transparent;
  }
  .submit-btn
  {
      width: 85%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin: auto;
      background: #F3C693;
      border: 0;
      outline: none;
      border-radius: 30px;
  }
  .check-box
  {
      margin: 30px 10px 34px 0;
  }
  span
  {
      color:#777;
      font-size:12px;
      bottom:68px;
      position:absolute;
  }
  #login
  {
      left:50px;
  }
  #login input
  {
      color:white;
      font-size:15;
  }
  #register
  {
      left:450px;
  }
  #register input
  {
      color:white;
      font-size: 15;
  }
  .accordion-button{
      background:white !important;
      color: black !important;
  }
  li a{
      
      color: white !important;
  }
  li a:hover{
      color:black !important;
  }
  .accordion-body{
      background:black !important;
  }
  .head{
      color: white;
  }
  
  .btn{
      color: white;
  
  }
  .forgot{
      font-size: 15px;
  }

  .forgot1{
      font-size: 15px;
      cursor: pointer;
  } */

  
.login-dark {
    position: relative;
    top: 70vh;
    background:transparent ;
    background-size:cover;
    position:relative;
  }
  
  .login-dark form {
    max-width:320px;
    width:90%;
    background-color:white;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:40%;
    left:50%;
    color:black;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
    margin-top: -45px;
  }
  
  .login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-dark form.hover .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .login-dark form.hover .forgot {
    display:block;
    text-align:center;
    font-size:14px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  .name{
      margin-bottom: 3vh;
      font-size: 20px;
  }
  .forgot1{
    padding-left: 5px;
    text-decoration: underline !important;
    color: rgb(0, 60, 255) !important;
  }
  *
  {
      margin: 2px;
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      margin-bottom: 8px;
     
  }
  .accordion-item{
      background: none !important;
      border: none !important;
  }
  .full-page
  { 
      
        height: 100vh;
        width: 84rem;
      background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(bus.jpg);
      background-position: center;
      background-size: cover;
      position: absolute;
      margin-top: 10px;
  }
  .navbar
  {
      display: flex;
      align-items: center;
      padding: 70px;
      padding-left: 50px;
      padding-right: 30px;
      padding-top: 46px;
  }
  .loginbtn{
      background-color: white;
      color: black;
      text-decoration: none;
      border: 2px solid beige;
      font-weight: bold;
      padding: 8px 15px;
      border-radius: 30px;
      
      
  }
  .loginbtn:hover{
      color:white ;
      background:black;
      border: 2px solid black
  }
  nav
  {
      flex: 1;
      text-align: right;
  }
  nav ul 
  {
      display: inline-block;
      list-style: none;
  }
  nav ul li
  {
      display: inline-block;
      margin-right: 70px;
  }
  nav ul li a
  {
      text-decoration: none;
      font-size: 20px;
      color: white;
      font-family: sans-serif;
  }
  nav ul li button
  {
      font-size: 20px;
      color: white;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;
      font-family: sans-serif;
  }
  nav ul li button:hover
  {
      color: black;
  }
  nav ul li a:hover
  {
      color:black;
  }
  a
  {
      text-decoration: none;
      color: white;
      font-size: 28px;
  }
  
  #login-form
  {
      display: none;
  }
  .form-box
  {
      width:380px;
      height:480px;
      position:relative;
      margin:2% auto;
      background:rgba(0,0,0,0.3);
      padding:10px;
      overflow: hidden;
  }
  .button-box
  {
      width:220px;
      margin:35px auto;
      position:relative;
      box-shadow: 0 0 20px 9px #ff61241f;
      border-radius: 30px;
  }
  .toggle-btn
  {
      padding:10px 30px;
      cursor:pointer;
      background:transparent;
      border:0;
      outline: none;
      position: relative;
  }
  #btn
  {
      top: 0;
      left:0;
      position: absolute;
      width: 110px;
      height: 100%;
      background: #F3C693;
      border-radius: 30px;
      transition: .5s;
  }
  .input-group-login
  {
      top: 150px;
      position:absolute;
      width:280px;
      transition:.5s;
  }
  .input-group-register
  {
      top: 120px;
      position:absolute;
      width:280px;
      transition:.5s;
  }
  .input-field
  {
      width: 100%;
      padding:10px 0;
      margin:5px 0;
      border-left:0;
      border-top:0;
      border-right:0;
      border-bottom: 1px solid #999;
      outline:none;
      background: transparent;
  }
  .submit-btn
  {
      width: 85%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin: auto;
      background: #F3C693;
      border: 0;
      outline: none;
      border-radius: 30px;
  }
  .check-box
  {
      margin: 30px 10px 34px 0;
  }
  span
  {
      color:#777;
      font-size:12px;
      bottom:68px;
      position:absolute;
  }
  #login
  {
      left:50px;
  }
  #login input
  {
      color:white;
      font-size:15;
  }
  #register
  {
      left:450px;
  }
  #register input
  {
      color:white;
      font-size: 15;
  }
  .accordion-button{
      background:white !important;
      color: black !important;
  }
  li a{
      
      color: white !important;
  }
  li a:hover{
      color:black !important;
  }
  .accordion-body{
      background:black !important;
  }
  .head{
      color: white;
  }
  
  .btn{
      color: white;
  
  }

.forgot{
    font-size: 15px;
}

.forgot1{
    font-size: 15px;
    cursor: pointer;
} 
