<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ticket booking</title>
    <link rel="stylesheet" href=cancelticket.component.css>
    <!---we had linked our css file----->
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <h1 class="head">TICKET BOOKING SYSTEM</h1>
            </div>
            <nav>
                <ul id='MenuItems'>
                  <li><a routerLink="/index" >Home</a></li>
                    <!-- <li><a href='#'>View Ticket</a></li>
                    <li><a href='#'>Cancel Ticket</a></li> -->
                    <!-- <li><a href='#'>Services</a></li>
                    <li><a href='#'>Contact</a></li> -->
                    <li> <button routerLink="/homepage" class='logoutbtn' >Logout</button> </li>
                </ul>
            </nav>
        </div>
        <!-- <div class="col-md-9">
            <div class="container my-3 text-center">
              <div class="name row">
                <span class="flicker-4"></span>
              </div>
              <div class="details text-start">
                <div class="busnumber row">
                  Bus Number : 
                </div>
                <div class="destination row">
                  Destination : 
                </div>
                <div class="source row">
                  Source : 
                </div>
                <div class="bookedby row">
                    Booked By : 
                </div>
                <div class="journeydate row">
                   Journey Date : 
                </div>
                <div class="bookingdate row">
                    Booking Date : 
                </div>
                <div class="noofpassengers row">
                   No.of.Passengers : 
                </div>
              </div>
            </div>
          </div>
          -->
          <table class="table table-bordered">

            <thead>

              <tr>

               

                <th scope="col">Bus Number</th>

                <th scope="col">Destination</th>

                <th scope="col">Source</th>

                <th scope="col">Booked By</th>

                <th scope="col">Journey Date</th>

                <th scope="col">Booking Date</th>

                <th scope="col">No.of.Passengers</th>

               

                

              </tr>

            </thead>

            <tbody>

             

              <tr *ngFor="let ticket of tickets">

                <td>{{ticket.busNumber}}</td>

                <td>{{ticket.destination}}</td>

                <td>{{ticket.source}}</td>

                <td>{{ticket.bookedBy}}</td>

                <td>{{ticket.journeyDate}}</td>

                <td>{{ticket.bookingDate}}</td>

                <td>{{ticket.no_of_passengers}}</td>
                

                <td>

                  

                    <!-- <button type="button" class="btn btn-dark" (click)="/edit-audios">Edit</button>&nbsp; -->

                    <button  class="btn btn-dark" (click)="delete(ticket.id)">Cancel Ticket</button>

                </td>



           </tr>

                 

            </tbody>

          </table>

    </div>

</body>

</html>


