<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Ticket</title>
    <link rel="stylesheet" href=adminaddticket.component.css>
    <!---we had linked our css file----->
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <h1 class="heading">TICKET BOOKING SYSTEM</h1>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <!-- <li><a href='#'>Home</a></li>
                    <li><a routerLink="/bookticket" >Book Ticket</a></li>
                    <li><a href='#'>About Us</a></li> -->
                    <li><button routerLink="/adminindex">Home</button></li>
                    <!-- <li><a href='#'>Cancel Ticket</a></li> -->
                   <li> <button routerLink="/homepage" class='logoutbtn'>Logout</button> </li>
                   </ul>
            </nav>
            <div class="col-md-12">
                <div class="container">
                  <form [formGroup]="adminaddticketForm">
                   <div  class="form-group"> <label for="number">Bus Number<sup class="text-danger">*</sup></label>
                    <input type="text" name="busnumber" id="number" formControlName="busNumber" placeholder="enter bus number" required>
                    <span *ngIf="isValid('busnumber')"></span>
                </div>
                   <div  class="form-group"> <label for="destination">Destination<sup class="text-danger">*</sup></label>
                    <input type="text" name="" id="destination" formControlName="destination" placeholder="enter destination" required>
                    <span *ngIf="isValid('destination')"></span>
                </div>
                   <div  class="form-group"> <label for="source">Source<sup class="text-danger">*</sup></label>
                    <input type="text" name="" id="source" formControlName="source" placeholder="enter source" required>
                    <span *ngIf="isValid('source')"></span>
                </div>
                    <!-- <label for="project">projects<sup class="text-danger">*</sup></label>
                    <select name="" id="project">
                      <option value="java">JAVA</option>
                      <option value="python">PYTHON</option>
                      <option value="node js">NODE JS</option>
                      <option value="dot net">DOT NET</option>
                    </select> -->
                    <!-- <label for="bookedby">Booked By</label>
                    <input type="text" name="" id="bookedby" placeholder="enter booked by" >
                    <label for="journeydate">Journey Date</label>
                    <input type="number" name="" id="journeydate" placeholder="enter journey date" >
                    <label for="noofpassengers">No.of.Passengers</label>
                    <input type="number" name="" id="noofpassengers" placeholder="enter no.of passengers" >
                    <label for="bookingdate">Booking Date</label>
                    <input type="number" name="" id="bookingdate" placeholder="enter booking date" > -->
                   <div  class="form-group"> <label for="bookedby">Booked By<sup class="text-danger">*</sup></label>
                    <input type="text" name="" id="bookedby" formControlName="bookedBy" placeholder="enter bookedby" required>
                    <span *ngIf="isValid('bookedby')"></span>
                </div>
                   <div  class="form-group"> <label for="number">Journey Date<sup class="text-danger">*</sup></label>
                    <input type="text" name="" id="number" formControlName="journeyDate" placeholder="enter journey date" required>
                    <span *ngIf="isValid('journeydate')"></span>
                   </div>
                    <div  class="form-group"><label for="number">Booking Date<sup class="text-danger">*</sup></label>
                    <input type="text" name="" id="number" formControlName="bookingDate" placeholder="enter booking date" required>
                    <span *ngIf="isValid('bookingdate')"></span>
                </div>
                    <div  class="form-group"><label for="number">No.of.Passengers<sup class="text-danger">*</sup></label>
                    <input type="number" name="" id="number" formControlName="no_of_passengers" placeholder="enter no of passengers" required>
                    <span *ngIf="isValid('noofpassengers')"></span>
                </div>
                    
                   <div class="form-group"><button routerLink="/adminviewticket" class="btn btn-outline-dark" (click)="adminaddticket()">Add Ticket</button></div>
                  </form>
        
        
                </div>
              </div>
        </div>

    </div>

</body>

</html>


