<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ticket booking</title>
    <link rel="stylesheet" href=index.component.css>
    <!---we had linked our css file----->
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <h1 class="head">TICKET BOOKING SYSTEM</h1>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <!-- <li><a routerLink="/index">Home</a></li> -->
                    <!-- <li><a routerLink="/bookticket" >Book Ticket</a></li> -->
                    <!-- <li><a href='#'>About Us</a></li>
                    <li><a href='#'>Services</a></li>
                    <li><a href='#'>Contact</a></li> -->
                   <li> <button routerLink="/homepage" class='logoutbtn' >Logout</button> </li>
                </ul>
            </nav>
        </div>
        <!-- <div class="row">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="btn" >
                             <a href="">My Profile</a>
                          
                        </button>
                    </h3>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                     
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="btn">
                            <a routerLink="/bookticket">BOOK TICKET</a>
                            
                        </button>
                    </h3>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h5 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="btn" >
                            <a routerLink="/viewticket">VIEW TICKET</a>
                            
                        </button>
                    </h5>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h5 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="btn" >
                            <a routerLink="/cancelticket">CANCEL TICKET</a>
                            
                        </button>
                    </h5>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-headingOne">
                     
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</body>

</html>

